@import 'theme-colors';

* {
  background-color: var(--app-background-color);
  color: var(--dynamic-title-color);
}

/*
* === THEME SWITCH ===
*/
input.theme-switch {
  display: none;
}

input.theme-switch + label {
  cursor: pointer;
}

input.theme-switch:not(:checked) + label:hover {
  cursor: pointer;
}

input.theme-switch + label:active,
input.theme-switch:checked + label {
  cursor: pointer;
}